---
layout: archive
title: "Research Work"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% for post in site.talks reversed %}
  <article class="page__content" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 itemprop="headline">{{ post.title }}</h2>
    
    {% if post.location %}
      <p style="color: black;">
        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ post.location }}
        {% if post.date %}
          , {{ post.date | date: "%Y" }}
          {% if post.end_date %}
            - {{ post.end_date | date: "%Y" }}
          {% else %}
            - Present
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
    
    {% if post.content %}
      <div itemprop="description">
        {{ post.content }}
      </div>
    {% endif %}
    
    {% if post.image %}
      <div style="display: flex; flex-wrap: wrap; gap: 15px; margin-top: 15px;">
        {% assign images = post.image | split: "," %}
        {% for img in images %}
          <img src="{{ base_path }}/images/{{ img | strip }}" alt="{{ post.title }}" style="max-width: 200px; border-radius: 10px;">
        {% endfor %}
      </div>
    {% endif %}
    
    <hr style="margin: 30px 0;">
  </article>
{% endfor %}
